/* 
    Document   : style_general
    Created on : 08-nov-2013, 14:12:00
    Author     : Diogo
    Description:
        Purpose of the stylesheet follows.
*/
body{
    text-align: center;
}
root { 
    display: block;
}
#divBarra1{
    
    width: 70%;
    height: 50%;
    margin:0 auto;
}

#divCasillaHorario{width:30px;}

#divContactoEnviar{
    width: 50%;
    border: 1px;
    border-radius: 5px;
    background-color: gray;
    
}
#divContactoEnviar{
    margin:10px;
}

/*
-------------Contacto--------------------
*/

#textoAreaMensaje{
    width: 600px;
    height: 50px;
    
}



/*
----------------------Pedidos--------------------
*/
#divLoginProfesor{
    margin: 50px auto 20px 35%;
}

#divSaludoProfesor{
    margin: 0  auto 0 40%;
}


.mygrid-wrapper-div {
   border: solid gainsboro 5px;
   overflow: scroll;
   height: 70%;
}